.board-dialog .body
{
    display: block;
    position: relative;
    list-style: none;
    color: #cbcbcc;
    max-height: 30vh;
    width: 100%;
    overflow-y: auto;
}

.board-dialog .header{
    display:flex;
    width:92%;
    margin:0 auto;
    border-bottom:1px solid #323235
}
.board-dialog .header>.image{
    width:60px;
    height:60px;
    margin-right:15px;
    -webkit-flex:0 0 auto;
    -ms-flex:0 0 auto;
    flex:0 0 auto
}
.board-dialog .header>.image img{
    width:100%;
    height:100%;
    object-fit:cover
}

.board-dialog .header>.image .loading-content 
{
    width: 60px;
    height: 60px;
}

.board-dialog .header>.image .mdl-spinner 
{
    margin-top: 16px;
    margin-left: 16px;
}

.board-dialog .header>.info{
    display:-webkit-flex;
    display:-ms-flexbox;
    display:flex;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-justify-content:center;
    -ms-flex-pack:center;
    justify-content:center;
    white-space:nowrap
}
.board-dialog .header>.info .sub-name, .board-dialog>.header>.info>.name{
    overflow:hidden;
    max-width:100%;
    text-overflow:ellipsis;
}
.board-dialog .header>.info>.name{
    margin-bottom:2px;
    color:#cbcbcc;
    font-size: 25px;
    line-height: 25px;
}
.board-dialog .header>.info>.sub-name{
    font-size:.9rem;
    color:#898B8C
}

.board-dialog .context-menu-item{
    padding:10px;
    cursor:pointer;
    border-left:5px solid transparent
}
@media only screen and (max-width:627px){
    .board-dialog .context-menu-item{
        border-bottom:1px solid #323235;
        padding:20px 10px
    }
}
.board-dialog .context-menu-item>.icon{
    margin-right:10px
}
.board-dialog .context-menu-item:hover{
    background-color:#323235;
    border-left:5px solid #8F8F8F
}