html, body
{
    font-family: 'Roboto', 'Helvetica', sans-serif !important;
    background-color: #19191B;
    color:#cbcbcc;
}

#login input
{
    margin-top: 12px;
    border: 0;
    background: #fff;
    outline: none;
    width: 100%;
    font-size: 1rem;
    font-weight: 300;
    padding: .5rem .6rem;
    border-radius: .2rem;
}

#login button
{
    margin-top: 12px;
    width: 100%;
    font-weight: 700 !important;
}
  
#login .progress
{
    display: none;
}

#login
{
    background: rgba(255, 255, 255, .08);
}

.content .progress
{
    width:100%;
}

#login .mdl-dialog__title img
{
    width:100px;
    height:100px;
    margin-left:60px;
}

#login canvas
{
    position:absolute;
    left:129px;
    top:73px;
}

.logo_label
{
    color: #3FA0D6;
    border-top: 2px solid #3FA0D6;
}

.mdl-radio
{
    margin-top:20px;
}

#toast i
{
    position: absolute;
    color: #fff;
    font-size: 20px;
    padding: 15px;
}

#toast div
{
    margin-left: 30px;
}