html, body
{
    font-family: 'Roboto', 'Helvetica', sans-serif !important;
    background-color: #19191B;
    color:#cbcbcc;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.hidden
{
    display: none!important;
    visibility: hidden!important;
}

.content .progress
{
    width:100%;
}

.mdl-radio
{
    margin-top:20px;
}

#toast i
{
    position: absolute;
    color: #fff;
    font-size: 20px;
    padding: 15px;
}

#toast div
{
    margin-left: 30px;
}

img, legend 
{
    border: 0;
}