.public-user-profile {
    position: relative;
    height: 100%;
}

.public-user-profile .header {
    margin-bottom: 15px;
    background-position: 0 32%;
    position: relative;
    min-height: 200px;
}

.public-user-profile .header, .radio-page {
    background-size: cover;
    background-repeat: no-repeat;
}

.public-user-profile .header>.header-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom,transparent -80%,#19191B 100%);
    padding: 30px 30px 10px;
}

.public-user-profile .header>.header-overlay>.inner-header {
    max-width: 600px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.public-user-profile .header .avatar {
    margin-right: 25px;
    width: 23%;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

.public-user-profile .header .avatar>img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 50%;
    border:5px solid #fff;
}

.public-user-profile .header .info {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    margin-top: 25px;
}

.public-user-profile .header .info>.username {
    font-size: 1.8rem;
    font-weight: 100;
    margin-bottom: 10px;
    border-bottom: 1px solid #666974;
    padding-bottom: 5px;
}

.public-user-profile .header .info>.actions {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.public-user-profile .header .info>.actions>.follow-info {
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.public-user-profile .header .info>.actions>.follow-info>.following {
    border-right: 1px solid #666974;
}

.public-user-profile .header .info>.actions>.follow-info>.followers, .public-user-profile .header .info>.actions>.follow-info>.following {
    padding: 0 10px;
}

.public-user-profile .header .info>.actions>.follow-info>.followers>.number, .public-user-profile .header .info>.actions>.follow-info>.following>.number {
    text-align: center;
}

.public-user-profile .content .navigation {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 30px 0 35px 35px;
    font-size: 1rem;
    color: #898B8C;
    text-transform: uppercase;
    border-bottom: 1px solid #2a2b30;
}

.public-user-profile .content .navigation>.nav-item.active {
    border-color: #FFD740;
    color: #fff;
}

.public-user-profile .content .navigation>.nav-item:first-of-type {
    margin-left: 0;
}

.public-user-profile .content .navigation>.nav-item {
    border-bottom: 3px solid transparent;
    transition: border-color .2s ease;
    margin: 0 10px;
    padding: 5px 8px;
    cursor: pointer;
}

.public-user-profile .content .no-playlists {
    text-align: center;
    font-size: 1.5rem;
    width: 100%;
    margin-top: 40px;
    font-weight: 100;
    background-color: #252528;
    padding: 5pc 0;
}

.public-user-profile .content .no-playlists img {
    width:100px;
    height:auto;
    margin-right: 20px;
    margin-bottom: 10px;
}

.public-user-profile .content .tabs {
    padding: 0px 20px 0px 35px;
    height: calc(100% - 300px);
    position: relative;
    overflow-y: auto;
}

.public-user-profile .worklog .weekday-container
{
    display: -webkit-flex;
    display: -ms-flexbox;
}

.public-user-profile .worklog .weekday
{
    width: 20%;
    margin: 0;
    padding: 14px;
}

.public-user-profile .worklog .weekday > figcaption .title
{
    color: inherit;
    width: 100%;
    height: 3vw;
    font-size: 2vw;
    line-height: 3vw;
    margin-bottom: 10px;
    margin-left: 5px;
}

.public-user-profile .worklog .weekday > figcaption .hours
{
    color: #fff;
    width: 100%;
    height: 5vw;
    font-size: 5vw;
    text-align: center;
    line-height: 5vw;
}

.public-user-profile .worklog .weekday > figcaption .rates
{
    width:100%;
    height:1vw;
    line-height: 1vw;
    font-size: 1.2vw;
    padding:10px;
    color: #898B8C !important;
}

.green-fg 
{
    color: #4caf50!important;
}

.red-fg 
{
    color: #f44336!important;
}

.rates .trend
{
    margin-left: 5px;
    
}

.public-user-profile .worklog .weekday > figcaption 
{
    background-color: #252528;
    padding: 10px;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.public-user-profile .worklog
{
    width:100%;
}

.public-user-profile .worklog .weekday
{
   border-bottom: 3px solid transparent;
   transition: border-color .2s ease;
   cursor:pointer;
}

.public-user-profile .worklog .weekday.disabled
{
    opacity: 0.2;
}

.public-user-profile .worklog-progress
{
    position:absolute;
    margin-top: -30px;
    right: 10px;
    width: 100px;
    height:5px;
}

.bufferbar.bar.bar2
{
    background-color: #252528;
    background-image: none !important;
}

.public-user-profile .worklog .countdown
{
    margin: 5px;
    text-align:right;
    font-size: 1vw;
    font-style: italic;
    color: #c0c0c0; 
}

.edit-profile
{
    cursor:pointer;
}

.album-table .time-ago
{
    -webkit-flex-grow: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
}

.worklog-container .rows .uncommitted
{
    font-style: italic;
}

.weekday-container .uncommitted
{
    position: absolute;
    margin-left: 110px;
    margin-top: -30px;
}